@model AtlasTravel.MVC.ViewModels.EditUserProfileViewModel;

@{
    ViewData["Title"] = "Edit User";
}

<h1 class="display-4">Edit User</h1>
<p>Update the user details below.</p>

<form asp-action="EditProfile" method="post">
    <input type="hidden" asp-for="UserID"/>

    <div class="form-group">
        <label asp-for="FullName">Full Name</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Budget">Budget</label>
        <input asp-for="Budget" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Budget" class="text-danger"></span>
    </div>

    <br/>

    <a class="btn btn-secondary" asp-action="ChangePassword">Change Password</a>
    <button type="submit" class="btn btn-primary">Update User</button>
    <a class="btn btn-secondary" asp-action="Profile">Cancel</a>
    
</form>
